.about-people {
 @media (max-width:1030px) {
  padding-bottom: 25px;
 }
 @media (max-width:650px) {
  padding-top: 0px;
 }
 &__slider {
  position: relative;
 }
 // @media (max-width:650px) {
 //  padding-bottom: 50px;
 // }
 &__container {
 }
 &__image {
  position: relative;
  height: 0;
  padding-top: 90%;
  @media (max-width:1030px) {
   padding-top: 70%;
  }
  @media (max-width:650px) {
   padding-top: 50%;
  }
  img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   object-position: center;
  }
 }
&__content {
 padding-top: 40px;
 height: 100%;
 display: flex;
 flex-direction: column;
 padding-bottom: 40px;
 @media (max-width:1030px) {
  padding-top: 0px;
  padding-bottom: 20px;
 }
 @media (max-width:650px) {
  // padding-top: 40px;
 }
 }
&__btn {
 margin: auto 0 0 0;
 transition-delay: 0.6s;
 }
&__col {
 position: relative;
 & .swiper-prev-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
 }
}
&__title {
 font-size: 58px;
 font-weight: 700;
 line-height: 130%;
 letter-spacing: 4px;
 text-transform: uppercase;
 margin-bottom: 40px;
 color: white;
 transition-delay: 0.2s;
 @media (max-width:1300px) {
  font-size: 46px;
 }
 @media (max-width:1140px) {
  font-size: 36px;
  margin-bottom: 20px;
 }
 @media (max-width:650px) {
  font-size: 26px;
 }
}
&__descr {
 font-size: 18px;
 font-weight: 300;
 line-height: 130%;
 color: white;
 margin-bottom: 20px;
 transition-delay: 0.4s;
 @media (max-width:1300px) {
  font-size: 16px;
 }
 }
&__next {
 position: absolute;
 z-index: 5;
 top: 50%;
 right: 0;
 transform: translate(0,-50%);
 @media (max-width:1080px) {
  top: -70px;
  transform: none;
  left: 70px;
 }
 @media (max-width:650px) {
  left: 50px;
 }
}
&__prev {
 position: absolute;
 z-index: 5;
 top: 50%;
 left: 0;
 transform: translate(0, -50%);
 @media (max-width:1080px) {
  top: -70px;
  transform: none;
 }
 @media (max-width:650px) {

 }
}

}
.about__section-info {
 margin-bottom: 100px;
 @media (max-width:650px) {
  margin-bottom: 100px;
 }
 }

.about-people .swiper-slide {
 opacity: 0 !important;
 transition: opacity 0.4s;
 @media (max-width:1030px) {
  flex-direction: column;
  .col-1__hidden {
   display: flex;
  }
  .col-1__hiddenly {
   display: none;
  }
  .col-6 {
   order: 3;
   width: 70%;
  }
  .col-4 {
   order: 2;
   width: 70%;
  }
  .about-people__col {
   width: 100%;
   order: -1;
  }
  // .swiper-next-button {
  //  top: 0;
  //  left: 66px;
  //  @media (max-width:650px) {
  //   left: 50px;
  //  }
  // }
 }
 @media (max-width:650px) {
  .col-4 {
   width: 100%;
  }
  .col-6 {
   width: 100%;
  }
 }
 &-active {
  opacity: 1 !important;
 }
}
.about-people .swiper-slide .about-people__title {
 transform: translateY(-20px);
 opacity: 0;
 transition: transform 0.5s ease 0s
}

.about-people .swiper-slide-active .about-people__title {
 transform: none;
 opacity: 1;
}
.about-people .swiper-slide .about-people__descr {
 transform: translateY(-30px);
 opacity: 0;
 transition: transform 0.7s ease 0s
}
.about-people .swiper-slide-active .about-people__descr {
 transform: none;
 opacity: 1;
}
// .about-people .swiper-slide .about-people__btn {
//  transform: translateY(-40px);
//  opacity: 0;
//  transition: transform 0.7s ease 0s
// }
// .about-people .swiper-slide-active .about-people__btn {
//  transform: none;
//  opacity: 1;
// }
// .about-people .swiper-next-button {
//  position: absolute;
//  top: 50%;
//  transform: translate(0, -50%);
//  right: 0;
// }
.col-1__hidden {
 display: none;
}
// .swiper-next-button__hiddenly {
//  @media (max-width:1030px) {
//   display: none;
//  }
// }
.about-people__btn-hiddenly {
 @media (max-width:1030px) {
  display: none;
 }
}
.btn-show {
 display: none;
 @media (max-width:1030px) {
  display: flex;
  order: 5;
  margin-top: 40px;
 }
}