.page-news {
 &__container {

 }
 &__item {

 }
 &__link {

 }
 &__btn {
  margin: 0 auto;
 }
 &__list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
  row-gap: 80px;
  @media (max-width:1200px) {
    width: 100%;
  }
  @media (max-width:800px) {
   column-gap: 30px;
   row-gap: 30px;
  }
  @media (max-width:600px) {
   grid-template-columns: repeat(1, 1fr);
   row-gap: 40px;
  }
 }
 & .news__info {
  color: var(--color-text);
 }
 & .news__title {
  color: var(--color-text);
 }
 &__box {
  margin-bottom: 80px;
  @media (max-width:1200px) {
   .col-1 {
    display: none;
   }
  }
 }
}