@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Aeroport-Light.woff");
  font-display: swap;
}
@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aeroport.woff");
  font-display: swap;
}
@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Aeroport-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Aeroport-Bold.woff");
  font-display: swap;
}