:root  {
  // --color-accent: #D94136;
  // --color-sec-accent: #6E7E86;
  // --color-black: #000000;
  // --color-white: #fff;
  --color-text:#1A3252;
  --color-red-accent: #DA1033;
  --color-green-accent: #19A25A;
  --color-blue-accent:#0265AB;
  --color-dark: #0F0E0E;
  --color-light: #F3F5F9;
  --color-white: white;
}