<section class="section regions-dark">
 <div class="regions__container">
  <img class="regions-bg" src="/public/img/aboutDetail/regions-dark.svg" alt="">
  <h2 class="regions__title section__title">
   <span class="green-accent">Большая</span> сеть партнеров
  </h2>
  <p class="section__descr regions__descr col-5">
   Мы&nbsp;обеспечиваем доступность наших продуктов и&nbsp;услугв различных регионах страны, что позволяет нашим клиентам легко получать нужные товары, оборудование и&nbsp;сервисноеобслуживание.
  </p>
  <div class="regions__box">
   <ul class="regions__list">
    <li class="regions__item">Московская обл.</li>
    <li class="regions__item">Новосибирская обл.</li>
    <li class="regions__item">Кемеровская обл.</li>
    <li class="regions__item">Дальневосточный ФО</li>
    <li class="regions__item">Алтайский край</li>
   </ul>
   <ul class="regions__list">
    <li class="regions__item">Томская обл.</li>
    <li class="regions__item">Иркутская обл.</li>
    <li class="regions__item">Омская обл.</li>
   </ul>
  </div>
 </div>
</section>