<section class="section about-people section-dark">
 <div class="about-people__container">
  <div class="section__info section__info--dark about__section-info">
   <h4 class="section__info-title">Люди</h4>
   <a href="" class="section__info-link">Вакансии</a>
  </div>
  <div class="about-people__slider">
   <div class="swiper-wrapper">
    <div class="swiper-slide row col-12 about-people__slide">
    <div class="col-1 about-people__col">
    </div>
    <div class="col-4">
     <div class="about-people__content">
      <h2 class="about-people__title">Сильная команда</h2>
      <p class="about-people__descr">В&nbsp;нашей компании работает команда высококвалифицированных специалистов, которые всегда готовы помочь и&nbsp;поддержать друг
         друга. У&nbsp;нас царит дружественная и&nbsp;сплоченная атмосфера.
      </p>
      <button class="js-open-modal-vacancy btn btn-reset btn-main about-people__btn about-people__btn-hiddenly">
       Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
       </svg>
      </button>
     </div>
    </div>
    <div class="col-1 col-1__hiddenly"></div>
    <div class="col-6">
     <div class="about-people__image">
      <img src="/public/img/about-people/slide-1.jpg" alt="">
     </div>
    </div>
    <div class="col-1 col-1__hidden">

    </div>
    <button class=" js-open-modal-vacancy btn btn-reset btn-main  btn-show">
      Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
      </svg>
    </button>
    </div>
    <div class="swiper-slide row col-12 about-people__slide">
    <div class="col-1 about-people__col">

    </div>
    <div class="col-4">
     <div class="about-people__content">
      <h2 class="about-people__title">Большая команда</h2>
      <p class="about-people__descr">В&nbsp;нашей компании работает команда высококвалифицированных специалистов, которые всегда готовы помочь и&nbsp;поддержать друг
         друга. У&nbsp;нас царит дружественная и&nbsp;сплоченная атмосфера.
      </p>
      <button class="js-open-modal-vacancy btn btn-reset btn-main about-people__btn about-people__btn-hiddenly">
       Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
       </svg>
      </button>
     </div>
    </div>
    <div class="col-1 col-1__hiddenly"></div>
    <div class="col-6">
     <div class="about-people__image">
      <img src="/public/img/about-people/slide-1.jpg" alt="">

     </div>
    </div>
    <div class="col-1 col-1__hidden">
    </div>
    <button class="js-open-modal-vacancy btn btn-reset btn-main btn-show">
      Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
      </svg>
    </button>
    </div>
    <div class="swiper-slide row col-12 about-people__slide">
    <div class="col-1 about-people__col">
    </div>
    <div class="col-4">
     <div class="about-people__content">
      <h2 class="about-people__title">Мощная команда</h2>
      <p class="about-people__descr">В&nbsp;нашей компании работает команда высококвалифицированных специалистов, которые всегда готовы помочь и&nbsp;поддержать друг
         друга. У&nbsp;нас царит дружественная и&nbsp;сплоченная атмосфера.
      </p>
      <button class="js-open-modal-vacancy btn btn-reset btn-main about-people__btn about-people__btn-hiddenly">
       Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
       </svg>
      </button>
     </div>
    </div>
    <div class="col-1 col-1__hiddenly"></div>
    <div class="col-6">
     <div class="about-people__image">
      <img src="/public/img/about-people/slide-1.jpg" alt="">
     </div>
    </div>
    <div class="col-1 col-1__hidden">

    </div>
    <button class="js-open-modal-vacancy btn btn-reset btn-main btn-show">
      Стать частью компании <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 0.5L10 4.5M10 4.5L6 8.5M10 4.5H0" stroke="white" />
      </svg>
    </button>
    </div>
   </div>
    <div class="swiper-prev-button about-people__prev swiper-button-disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
        <path d="M35.21 38.2054V26.2054L27.21 32.2054L35.21 38.2054Z" fill="white"></path>
        <path class="nav-anim"
          d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
          stroke="white" stroke-width="1.5"></path>
      </svg>
    </div>
    <div class="swiper-next-button swiper-next about-people__next">
      <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 38.2053V26.2053L40 32.2053L32 38.2053Z" fill="white" />
        <path class="nav-anim"
          d="M34.3088 5.82139L56.9326 18.8736L56.9242 44.9924L34.2912 58.0595L11.6675 45.0074L11.6758 18.8885L34.3088 5.82139Z"
          stroke="white" stroke-width="1.5" />
      </svg>
    </div>
  </div>
  </div>
</section>
