<section class="section about-dark">
 <div class="about__container">
  <h2 class="about__title section__title">
   Ключевые показатели
  </h2>
  <div class="about__box row col-12">
   <div class="col-7"></div>
   <p class="about__descr section__descr col-5">
    Группа компаний &laquo;Большой&raquo; существует на&nbsp;рынке с&nbsp;1999&nbsp;года. В&nbsp;2013 году была преобразована в&nbsp;многопрофильную компанию, в&nbsp;которой объединились люди, создающие для клиентов уверенность и&nbsp;спокойствие в&nbsp;работе с&nbsp;коммерческой техникой, техникой для склада и&nbsp;оборудованием для организации складских помещений.
   </p>
  </div>
  <ul class="about__list">
   <li class="about__item">
    <span class="about__value">20 лет</span>
    <p class="about__info">Опыт продаж на&nbsp;рынке коммерческой, специальной и&nbsp;складской техники в&nbsp;России.
    </p>
   </li>
   <li class="about__item">
    <span class="about__value about__value--blue">5 тыс.</p></span>
    <p class="about__info">Довольных клиентов, которые доверяют нам
    </p>
   </li>
   <li class="about__item">
    <span class="about__value about__value--red">7 тыс.</p></span>
    <p class="about__info">Наименований запасных частей в&nbsp;наличии на&nbsp;нашем складе</p>
   </li>
  </ul>
 </div>
</section>