<section class="about-detailHero section">
 <div class="about-detailHero__container">
  <h2 class="section__title about-detailHero__title">
   <span>по-настоящему</span>
   <span class="green-accent">большая</span>
   <span>группа компаний</span>
  </h2>
  <p class="section__descr about-detailHero__descr col-5">Наша компания предлагает широкий спектр услуг и&nbsp;продукции, включающий в&nbsp;себя коммерческую технику, спецтехнику, дорожную технику, складскую технику (включая вилочные погрузчики, ричтраки и&nbsp;штабелеры) и&nbsp;навесное оборудование к&nbsp;ней, любое оборудование для склада и&nbsp;малую складскую технику, клининговое оборудование, стеллажи, запасные части, специализированные масла и&nbsp;смазочные материалы.</p>
  <div class="about-detailHero__image">
   <img src="/public/img/aboutDetail/hero-img.jpeg" alt="">
  </div>
 </div>
</section>