<section class="advantages section section-dark">
 <div class="advantages__container">
  <div class="section__info section__info--dark">
   <h4 class="section__info-title">Наши большие преимущества</h4>
   <div class="swiper-pagination"></div>
  </div>
  <div class="advantages-swiper advantages__swiper col-12 swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Работаем <span class="blue-accent">напрямую</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;являемся официальным представителем крупных производителей техники, спецтехники, складской техники и&nbsp;оборудования, а&nbsp;также запчастей. Это позволяет нам предлагать своим клиентам только качественную продукцию.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Техника и&nbsp;оборудование <span class="green-accent">в&nbsp;наличии</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        На&nbsp;наших складах всегда есть широкий ассортимент техники и&nbsp;оборудования, что позволяет нам обеспечивать быструю и&nbsp;эффективную доставку заказа в&nbsp;необходимые сроки для клиента
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        <span class="red-accent">Работаем</span> по&nbsp;всей России
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;работаем по&nbsp;всей территории Российской Федерации, что позволяет нашим клиентам получить качественную технику и&nbsp;оборудование в&nbsp;любом регионе страны.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Даем <span class="blue-accent">гарантии</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;предоставляем гарантийное обслуживание на&nbsp;всю продаваемую технику и&nbsp;оборудование, что гарантирует нашим клиентам высокое качество и&nbsp;надежность продукции.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        <span class="green-accent">Собственный</span> склад запасных частей
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        У&nbsp;нас большой собственный склад всех необходимых запчастей для всех видов продаваемой техники и&nbsp;комплектующих для оборудования.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        <span class="red-accent">Индивидуальный подход</span> к&nbsp;потребностям клиента
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;предлагаем нашим клиентам возможность индивидуального выбора комплектации техники, что позволяет им&nbsp;получить продукт, полностью удовлетворяющий их&nbsp;требованиям и&nbsp;потребностям.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Сервисное обслуживание <span class="blue-accent">24/7</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;предоставляем круглосуточный сервис, включая выездной сервис в&nbsp;любую точку Российской Федерации. Это позволяет нашим клиентам получать быструю и&nbsp;эффективную помощь в&nbsp;любое время.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Команда <span class="green-accent">профессионалов</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Наша команда состоит из&nbsp;опытных и&nbsp;квалифицированных профессионалов, которые всегда готовы помочь нашим клиентам с&nbsp;любыми вопросами и&nbsp;проблемами.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
     <div class="col-7 advantages__swiper-title">
      <h3 class="advantages__title">
        Ориентируемся на <span class="red-accent">клиента</span>
      </h3>
     </div>
     <div class="col-1"></div>
     <div class="col-4">
      <p class="advantages__description">
        Мы&nbsp;придерживаемся принципа клиентоцентричности и&nbsp;индивидуального подхода к&nbsp;каждому клиенту. Это позволяет нам удовлетворять потребности и&nbsp;требования каждого клиента, обеспечивая высокий уровень сервиса.
      </p>
     </div>
    </div>
    <div class="swiper-slide advantages__slide row col-12">
      <div class="col-7 advantages__swiper-title">
        <h3 class="advantages__title">
          <span class="green-accent">Опыт</span> и <span class="blue-accent">репутация</span>
        </h3>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <p class="advantages__description">
          Мы&nbsp;имеем более 20&nbsp;лет опыта продаж и&nbsp;обслуживания техники и&nbsp;оборудования. За&nbsp;это время мы&nbsp;завоевали репутацию надежного и&nbsp;качественного партнера, который всегда готов помочь своим клиентам.
        </p>
      </div>
    </div>
   </div>
  <div class="advantages-swiper__nav">
      <div class="swiper-next-button">
        <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.21 38.2053V26.2053L40.21 32.2053L32.21 38.2053Z" fill="white" />
        <path class="nav-anim"
          d="M34.5188 5.82139L57.1425 18.8736L57.1341 44.9924L34.5012 58.0595L11.8774 45.0074L11.8858 18.8885L34.5188 5.82139Z"
          stroke="white" stroke-width="1.5" />
        </svg>
      </div>
      <div class="swiper-prev-button">
        <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.21 38.2053V26.2053L27.21 32.2053L35.21 38.2053Z" fill="white" />
        <path class="nav-anim"
          d="M34.5188 5.82139L57.1425 18.8736L57.1341 44.9924L34.5012 58.0595L11.8774 45.0074L11.8858 18.8885L34.5188 5.82139Z"
          stroke="white" stroke-width="1.5" />
        </svg>
      </div>
  </div>
  </div>
 </div>
</section>