   <section class="brands section-dark section">
 <div class="brands__container">
  <h2 class="section__title brands__title">Бренды</h2>
  <ul class="brands__list">
   <li class="brands__item">
    <img src="/public/img/brands/6.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/7.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/8.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/9.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/10.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/6.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/8.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/8.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/9.png" alt="">
   </li>
   <li class="brands__item">
    <img src="/public/img/brands/10.png" alt="">
   </li>
  </ul>
 </div>
</section>