<section class="clients section">
 <div class="clients__container">
  <h2 class="section__title clients__title">
   нам доверяют
  </h2>
  <p class="section__descr col-5 clients__descr">
   Мы&nbsp;ценим наших клиентов и&nbsp;стремимся создать долгосрочные и&nbsp;взаимовыгодные отношения. Мы&nbsp;уверены, что наша продукция и&nbsp;услуги помогут оптимизировать вашу работу и&nbsp;повысить эффективность вашего бизнеса. Среди наших постоянных клиентов:
  </p>
  <div class="clients-swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide">
     <img src="/public/img/clients/1.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/2.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/22.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/4.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/5.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/6.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/7.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/8.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/9.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/10.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/11.svg" alt="">
    </div>
    <div class="swiper-slide">
     <img src="/public/img/clients/12.svg" alt="">
    </div>
   </div>
  </div>
 </div>
</section>