<section class="contacts-description section">
 <div class="contacts-description__container">
  <h2 class="section__title contacts-description__title">Контактная информация</h2>
  <div class="contacts-description__wrapper col-12 row">
   <div class="col-7 contacts-map">
    <div class="contacts-map__wrapper">
     <ul class="contacts-map__list">
      <li class="contacts-map__item">
       Офис продаж
      </li>
      <li class="contacts-map__item">
       Магазин запчастей
      </li>
      <li class="contacts-map__item">
       Сервисный центр
      </li>
     </ul>
     <div class="contacts-map__maps">
      <div class="contacts-map__content" id="map-office">
      </div>
      <div class="contacts-map__content" id="map-store">
      </div>
      <div class="contacts-map__content" id="map-service">
      </div>
     </div>
    </div>
   </div>
   <div class="col-1"></div>
   <div class="col-5">
    <div class="contacts__info">
     <div class="contacts__phone contacts__box">
      <a href="tel:+88007759005">8 (800) <span class="blue-accent">775-90-05</span></a>
      <span class="contacts__info-text">По&nbsp;будням с&nbsp;9&nbsp;до&nbsp;18&nbsp;часов</span>
     </div>
     <div class="contacts__mail contacts__box">
      <a href="mailto:info@big-gk.com"><span class="blue-accent">info</span>@big-gk.com</a>
     </div>
     <div class="contacts__phone contacts__box">
      <a target="_blank"
       href="https://yandex.ru/maps/197/barnaul/house/prospekt_kalinina_24a_1/bEoYcQFkSkUAQFtpfX93eXlhZw==/?ll=83.765762%2C53.367328&amp;z=15.64">Калинина
       <span class="blue-accent">24а/1</span></a>
      <span class="contacts__info-text">С&nbsp;понедельника по&nbsp;пятницу: с&nbsp;9&nbsp;до&nbsp;18&nbsp;часов</span>
      <span class="contacts__info-text">сб и вс - выходной</span>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>