<section class="contacts-form section">
 <div class="contacts-form__container">
  <h3 class="contacts-form__title">Свяжитесь с&nbsp;нами</h3>
  <div class="contacts-form__content col-12 row">
   <div class="contacts-form__descr col-5">
    <p class="contacts-form__info">У&nbsp;вас остались вопросы или пожелания? Готовы сотрудничать?</p>
    <p class="contacts-form__subinfo">Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</p>
   </div>
   <div class="col-1"></div>
   <div class="contacts-form__form form-vacancy col-6">
    <form action="/local/ajax/join.php" method="post" class="js-form contacts__form">
     <div class="contacts__wrapper">
  
      <div class="contacts__input wrapper__name">
       <input name="user_name" class="contacts__name" type="text" id="contacts-name" data-type="text" placeholder=" ">
       <label class="contacts__label" for="">ФИО</label>
       <div class="validate__form-error validate__form-error--name js-error js-error-name">
        <span>Перепроверьте корректность имени</span>
       </div>
      </div>
  
      <div class="contacts__input wrapper__phone">
       <input data-mask="phone" name="user_phone" class="contacts__tel" data-type="phone" type="text" id="contacts-phone"
        inputmode="text" placeholder=" ">
       <label class="contacts__label" for="">Телефон</label>
       <div class="validate__form-error validate__form-error--phone js-error js-error-phone">
        <span>Заполните телефон, мы позвоним на него</span>
       </div>
      </div>
  
      <div class="contacts__input wrapper__email">
       <input data-mask="email" name="user_email" class="contacts__tel" data-type="email" type="text" id="contacts-email"
        inputmode="text" placeholder=" ">
       <label class="contacts__label" for="">Почта</label>
       <div class="validate__form-error validate__form-error--email js-error js-error-email">
        <span>Перепроверьте корректность email</span>
       </div>
      </div>
  
     </div>
     <div class="contacts__btns">
      <button class="js-form-submit btn btn-reset btn-primary" type="submit">Отправить</button>
      <p>Нажимая &laquo;Отправить&raquo;, вы&nbsp;даете согласие на&nbsp;обработку своих <a href="#">персональных
        данных</a>
      </p>
     </div>
  
    </form>
   </div>
  </div>
 </div>
</section>