<section class="section detail-slider section-dark">
 <div class="detail-slider__container">
  <div class="section__info section__info--dark about__section-info">
   <h4 class="section__info-title">Специализация</h4>
   <div class="swiper-pagination"></div>
  </div>
  <div class="detail-swiper">
   <div class="swiper-wrapper">
    <div class="swiper-slide row col-12 detail-slider__slide">
     <div class="col-7">
      <div class="detail-slider__image">
       <img src="/public/img/detail-slider/1.jpeg" alt="">
      </div>
     </div>
     <div class="col-5">
      <div class="detail-slider__content">
       <h2 class="detail-slider__title"><span class="green-accent">Вилочные погрузчики</span></h2>
       <p class="detail-slider__descr">универсальная техника для перемещения и&nbsp;погрузки грузов на&nbsp;складах и&nbsp;производствах. Они имеют вилы для подъема и&nbsp;опускания грузов и&nbsp;двигатель для передвижения. Характеристики погрузчиков могут различаться в&nbsp;зависимости от&nbsp;задачи и&nbsp;условий работы.
       </p>
       <a class="detail-slider__link" href="">jacvostok.ru <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.37816 0.828405H8.04123M8.04123 0.828405V6.48526M8.04123 0.828405L0.962393 7.89947" stroke="white" />
       </svg>
       </a>
      </div>
     </div>
    </div>
    <div class="swiper-slide row col-12 detail-slider__slide">
     <div class="col-7">
      <div class="detail-slider__image">
       <img src="/public/img/detail-slider/1.jpeg" alt="">
      </div>
     </div>
     <div class="col-5">
      <div class="detail-slider__content">
       <h2 class="detail-slider__title"><span class="green-accent">Вилочные погрузчики2</span></h2>
       <p class="detail-slider__descr">универсальная техника для перемещения и&nbsp;погрузки грузов на&nbsp;складах и&nbsp;производствах. Они имеют вилы для подъема и&nbsp;опускания грузов и&nbsp;двигатель для передвижения. Характеристики погрузчиков могут различаться в&nbsp;зависимости от&nbsp;задачи и&nbsp;условий работы.
       </p>
       <a class="detail-slider__link" href="">jacvostok.ru <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.37816 0.828405H8.04123M8.04123 0.828405V6.48526M8.04123 0.828405L0.962393 7.89947" stroke="white" />
       </svg>
</a>
      </div>
     </div>
    </div>
    <div class="swiper-slide row col-12 detail-slider__slide">
     <div class="col-7">
      <div class="detail-slider__image">
       <img src="/public/img/detail-slider/1.jpeg" alt="">
      </div>
     </div>
     <div class="col-5">
      <div class="detail-slider__content">
       <h2 class="detail-slider__title"><span class="green-accent">Вилочные погрузчики 3</span></h2>
       <p class="detail-slider__descr">универсальная техника для перемещения и&nbsp;погрузки грузов на&nbsp;складах и&nbsp;производствах. Они имеют вилы для подъема и&nbsp;опускания грузов и&nbsp;двигатель для передвижения. Характеристики погрузчиков могут различаться в&nbsp;зависимости от&nbsp;задачи и&nbsp;условий работы.
       </p>
       <a class="detail-slider__link" href="">jacvostok.ru <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.37816 0.828405H8.04123M8.04123 0.828405V6.48526M8.04123 0.828405L0.962393 7.89947" stroke="white" />
       </svg>
</a>
      </div>
     </div>
   </div>
  </div>
  <div class="detail-slider-nav detail-slider-prev">
   <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
    <path d="M35.21 38.2054V26.2054L27.21 32.2054L35.21 38.2054Z" fill="white"></path>
    <path class="nav-anim"
     d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
     stroke="white" stroke-width="1.5"></path>
   </svg>
  </div>
  <div class="detail-slider-nav detail-slider-next">
   <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 38.2053V26.2053L40 32.2053L32 38.2053Z" fill="white" />
    <path class="nav-anim"
     d="M34.3088 5.82139L56.9326 18.8736L56.9242 44.9924L34.2912 58.0595L11.6675 45.0074L11.6758 18.8885L34.3088 5.82139Z"
     stroke="white" stroke-width="1.5" />
   </svg>
  </div>
 </div>
</section>