<section class="section section-dark detail-technique">
 <div class="detail-technique__container">
  <h2 class="detail-technique__title">Складская и специальная техника</h2>
  <div class="row col-12 detail-technique__content">
   <div class="col-1"></div>
    <div class="col-10 technique-carousel owl-theme owl-carousel">
      <div class="item">
      <div class="detail-technique__box">
        <div class="detail-technique__image">
        <img src="/public/img/technique/1.jpeg" alt="">
        </div>
        <div class="detail-technique__info">
        <h3 class="detail-technique__caption"><span class="green-accent">Дизельные ­погрузчики</span></h3>
        <p class="detail-technique__descr">Описание раздела товаров в&nbsp;пару строк, с&nbsp;преимуществами и&nbsp;прочими буквами</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="detail-technique__box">
        <div class="detail-technique__image">
        <img src="/public/img/technique/1.jpeg" alt="">
        </div>
        <div class="detail-technique__info">
        <h3 class="detail-technique__caption"><span class="green-accent">Дизельные ­погрузчики</span></h3>
        <p class="detail-technique__descr">Описание раздела товаров в&nbsp;пару строк, с&nbsp;преимуществами и&nbsp;прочими буквами</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="detail-technique__box">
        <div class="detail-technique__image">
        <img src="/public/img/technique/1.jpeg" alt="">
        </div>
        <div class="detail-technique__info">
        <h3 class="detail-technique__caption"><span class="green-accent">Дизельные ­погрузчики</span></h3>
        <p class="detail-technique__descr">Описание раздела товаров в&nbsp;пару строк, с&nbsp;преимуществами и&nbsp;прочими буквами</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="detail-technique__box">
        <div class="detail-technique__image">
        <img src="/public/img/technique/1.jpeg" alt="">
        </div>
        <div class="detail-technique__info">
        <h3 class="detail-technique__caption"><span class="green-accent">Дизельные ­погрузчики</span></h3>
        <p class="detail-technique__descr">Описание раздела товаров в&nbsp;пару строк, с&nbsp;преимуществами и&nbsp;прочими буквами</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="detail-technique__box">
        <div class="detail-technique__image">
        <img src="/public/img/technique/1.jpeg" alt="">
        </div>
        <div class="detail-technique__info">
        <h3 class="detail-technique__caption"><span class="green-accent">Дизельные ­погрузчики</span></h3>
        <p class="detail-technique__descr">Описание раздела товаров в&nbsp;пару строк, с&nbsp;преимуществами и&nbsp;прочими буквами</p>
        </div>
      </div>
      </div>
    </div>
    {{!-- <div class="slider-nav">

    </div> --}}
   <div class="col-1">
    <button type="button" role="presentation" class="owl-prev disabled">
      <div class="slider-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
          <path d="M35.21 38.2054V26.2054L27.21 32.2054L35.21 38.2054Z" fill="white"></path>
          <path class="nav-anim"
            d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
            stroke="white" stroke-width="1.5"></path>
        </svg>
      </div>
    </button>
    <button type="button" role="presentation" class="owl-next">
      <div class="slider-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
          <path d="M32 38.2054V26.2054L40 32.2054L32 38.2054Z" fill="white"></path>
          <path class="nav-anim"
            d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
            stroke="white" stroke-width="1.5"></path>
        </svg>
      </div>
    </button>
   </div>
  </div>
 </div>
</section>


