<section class="detail-hero section" id="detail-hero" data-section="detail-hero">
 <div class="detail-hero__image ibg">
  <img class="" src="/public/img/detail/detail-hero.jpeg" alt="play">
 </div>
 <div class="detail-hero__container">
  <div class="breadcrumbs">
   <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
     <a href="" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
     <a href="" class="breadcrumbs__link">Спецтехника</a>
    </li>
   </ul>
  </div>
  <div class="detail-hero__content">
   <div class="detail-hero__descr">
     <span class="detail-hero__subtitle">Специальная техника</span>
     <h2 class="detail-hero__title">Продаем и&nbsp;Обслуживаем Спецтехнику</h2>
   </div>
   <div class="detail-hero__info">
     <div class="btn btn-reset btn-main">
      sdlg-russia.ru
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
       <path d="M6 1L10 5M10 5L6 9M10 5H0" stroke="white" />
      </svg>
     </div>
     <span>Каталог спецтехники, от&nbsp;производителя</span>
   </div>
  </div>
 </div>
</section>