<section class="contacts-dark section">
 <div class="contacts__container">
  <div class="section__info section__info--dark contacts__section-info">
   <h4 class="section__info-title">Контактная информация</h4>
   <a href="" class="section__info-link">Контакты</a>
  </div>
  <h2 class="contacts__title section__title">Свяжитесь с&nbsp;нами</h2>
  <div class="row col-12 contacts__inner">
   <div class="col-5 contacts__inner-form">
    <p class="contacts__description">Заполните форму обратной связи, если у&nbsp;вас остались вопросы или пожелания.
     Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</p>
    <form class="js-form contacts__form">
     <div class="contacts__wrapper">
      <div class="contacts__input wrapper__name">

       <input name="user_name" class="contacts__name" type="text" id="contacts-name" data-type="text" placeholder=" ">
       <label class="contacts__label" for="">ФИО</label>
       <div class="validate__form-error validate__form-error--name js-error js-error-name">
        <span>Перепроверьте корректность имени</span>
       </div>
      </div>
      <div class="contacts__input wrapper__phone">

       <input data-mask="phone" name="user_phone" class="contacts__tel" data-type="phone" type="text"
        id="contacts-phone" inputmode="text" placeholder=" ">
       <label class="contacts__label" for="">Телефон</label>
       <div class="validate__form-error validate__form-error--phone js-error js-error-phone">
        <span>Заполните телефон, мы позвоним на него</span>
       </div>
      </div>
     </div>
     <div class="contacts__btns">
      <button class="js-form-submit btn btn-reset btn-primary" type="submit">Отправить</button>
      <p>Нажимая &laquo;Отправить&raquo;, вы&nbsp;даете согласие на&nbsp;обработку своих <a href="#">персональных
        данных</a>
      </p>
     </div>

    </form>
   </div>
   <div class="col-2"></div>
   <div class="col-5">
    <div class="contacts__info">
     <div class="contacts__phone contacts__box">
      <a href="tel:+88007759005">8 (800) <span class="green-accent">775-90-05</span></a>
      <span class="contacts__info-text">По&nbsp;будням с&nbsp;9&nbsp;до&nbsp;18&nbsp;часов</span>
     </div>
     <div class="contacts__mail contacts__box">
      <a href="mailto:info@big-gk.com"><span class="green-accent">info</span>@big-gk.com</a>
     </div>
     <div class="contacts__phone contacts__box">
      <a target="_blank"
       href="https://yandex.ru/maps/197/barnaul/house/prospekt_kalinina_24a_1/bEoYcQFkSkUAQFtpfX93eXlhZw==/?ll=83.765762%2C53.367328&z=15.64">Калинина
       <span class="green-accent">24а/1</span></a>
      <span class="contacts__info-text">С&nbsp;понедельника по&nbsp;пятницу: с&nbsp;9&nbsp;до&nbsp;18&nbsp;часов</span>
      <span class="contacts__info-text">сб и вс - выходной</span>
     </div>
    </div>
   </div>
  </div>
 </div>
 </div>
</section>