<section class="section detail-descr section-dark">
 <div class="detail-descr__container">
  <div class="detail-descr__content row col-12">
   <h2 class="col-5 detail-descr__title">
    <span class="green-accent">СПЕЦИАЛЬНАЯ</span> ТЕХНИКА
   </h2>
   <div class="col-2"></div>
   <div class="col-5 col-5 detail-descr__info">
   <p class="detail-descr__text">
     Одни из&nbsp;лидеров по&nbsp;продажам техники завода Sinotrak, LGCE, BULL, Zoomlion. Производим сделки и&nbsp;сервисное обслуживание
     техники SINOTRUK в&nbsp;любой точке
     России и&nbsp;СНГ.
   </p>
   <img class="detail-descr__brand" src="/public/img/detail/brand.png" alt="">
   </div>
  </div>
 </div>
</section>