<section class="hero section" id="hero" data-section="hero">
  <picture class="hero-bg">
    <source srcset="/public/img/hero/se2x.jpg" media="(max-width: 500px)" />
    <img src="/public/img/hero/hd2x.jpg" alt="play" />
  </picture>
  <div class="hero__container">
   <h1 class="hero__title"><span class="green-accent">Большая техника</span> для больших возможностей</h1>
   <p class="hero__descr">Мы&nbsp;всегда готовы помочь вам выбрать и&nbsp;легко приобрести самую идеальную технику для вашей эффективной работы!</p>
  <div class="btn btn-reset btn-main js-open-modal-main">
    Заказать звонок
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
      <path d="M6 1L10 5M10 5L6 9M10 5H0" stroke="white" />
    </svg>
  </div>
  </div>
</section>

