<section class="news-detail section-page">
 <div class="news-detail__container">
  <div class="section-page__box">
   <h2 class="section-page__title news-detail__title">Продажа фронтального погрузчика <span class="blue-accent">SDLG LG946L</span></h2>
   <div class="news__info">
    <span class="news__data">22.11.2023</span>
    <span class="news__descr">Новость</span>
   </div>
  </div>
  <div class="news-detail__slider col-12 row">
   <div class="col-1 news-detail__col">
    <div class="swiper-prev-button swiper-prev">
     <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.21 38.2053V26.2053L27.21 32.2053L35.21 38.2053Z" fill="#1A3252" />
      <path class="nav-anim"
       d="M32.9012 5.82127L10.2774 18.8734L10.2858 44.9923L32.9187 58.0594L55.5425 45.0072L55.5341 18.8884L32.9012 5.82127Z"
       stroke="#1A3252" stroke-width="1.5" />
     </svg>
    </div>
   </div>
   <div class="col-10 news-detail__gallery">
    <div class="swiper-wrapper">
     <div class="swiper-slide">
      <div class="news-detail-image">
       <img class="news-detail-img" src="/public/img/news-detail/slide01.jpeg" alt="">
       </div>
     </div>
     <div class="swiper-slide">
      <div class="news-detail-image">
       <img class="news-detail-img" src="/public/img/news-detail/slide01.jpeg" alt="">
       </div>
     </div>
     <div class="swiper-slide">
      <div class="news-detail-image">
       <img class="news-detail-img" src="/public/img/news-detail/slide01.jpeg" alt="">
       </div>
     </div>
    </div>
   </div>
   <div class="col-1 news-detail__col">
    <div class="swiper-next-button swiper-next">
     <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
      <path d="M32 38.2053V26.2053L40 32.2053L32 38.2053Z" fill="#1A3252" />
      <path class="nav-anim"
       d="M34.3088 5.82127L56.9326 18.8734L56.9242 44.9923L34.2912 58.0594L11.6675 45.0072L11.6758 18.8884L34.3088 5.82127Z"
       stroke="#1A3252" stroke-width="1.5" />
     </svg>
    </div>
   </div>
  </div>
  <div class="news-detail__content col-12 row">
   <div class="col-1"></div>
   <div class="col-6">
    <div class="news-detail__wrapper">
     <div class="news-detail__info">
      <h4 class="news-detail__caption">SDLG LG946L</h4>
      <p class="news-detail__descr">Мощное и&nbsp;надежное строительное оборудование, разработанное для эффективной работы на&nbsp;строительных площадках и&nbsp;в&nbsp;грузоперевозках. Этот погрузчик оснащен дизельным двигателем, обеспечивающим высокую производительность при выполнении различных задач.</p>
     </div>
     <div class="news-detail__specification detail-specification">
      <h4 class="news-detail__caption">Преимущества</h4>
      <div class="detail-specification__box">
       <p class="news-detail__descr">Он&nbsp;имеет оптимальную грузоподъемность и&nbsp;мощность, что позволяет успешно работать с&nbsp;разнообразными грузами и&nbsp;материалами на&nbsp;стройке. Своей прочной конструкцией и&nbsp;надежностью он&nbsp;готов противостоять интенсивной нагрузке и&nbsp;экстремальным условиям работы на&nbsp;стройплощадках</p>
       <ul class="detail-specification__list">
        <li class="detail-specification__item">
         Пункт списка отмеченный булитом
        </li>
        <li class="detail-specification__item">
         Пункт списка отмеченный булитом
        </li>
        <li class="detail-specification__item">
         Пункт списка отмеченный булитом
        </li>
       </ul>
       <p class="news-detail__descr">Он&nbsp;имеет оптимальную грузоподъемность и&nbsp;мощность, что позволяет успешно работать
        с&nbsp;разнообразными грузами и&nbsp;материалами на&nbsp;стройке. Своей прочной конструкцией и&nbsp;надежностью
        он&nbsp;готов противостоять интенсивной нагрузке и&nbsp;экстремальным условиям работы на&nbsp;стройплощадках</p>
        <ul class="detail-specification__list detail-specification__list--number">
         <li class="detail-specification__item">
          Пункт списка отмеченный номером
         </li>
         <li class="detail-specification__item">
          Пункт списка отмеченный номером
         </li>
         <li class="detail-specification__item">
          Пункт списка отмеченный номером
         </li>
        </ul>
      </div>
      
     </div>
     <div class="news-detail__social social-detail">
      <span>Читайте нас в соц.сетях:</span>
      <div class="social-detail__list">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="16" viewBox="0 0 29 16" fill="none">
         <path
          d="M28.6737 14.797C28.4211 13.8346 27.1579 12.2707 24.2526 9.50376C24 9.26316 23.8737 9.14286 23.7474 9.02256C23.2421 8.54135 23.3684 8.18045 23.7474 7.69925C24 7.57895 27.6632 2.64662 28.0421 1.20301C28.1684 0.962406 28.1684 0.601504 27.9158 0.481203C27.7895 0.120301 27.5368 0 27.2842 0H24C23.3684 0 22.9895 0.240601 22.6105 0.842105C22.6105 0.842105 22.6105 0.842105 22.6105 0.962406C22.4842 1.08271 20.9684 4.57143 18.8211 6.85714C17.9368 7.69925 17.3053 7.81955 17.0526 7.81955C16.9263 7.69925 16.6737 7.45865 16.6737 6.97744C16.6737 6.25564 16.6737 4.45113 16.6737 3.00752V1.44361V0.601504C16.6737 0.360902 16.4211 0.240601 16.1684 0.240601H10.9895C10.7368 0 10.4842 0.240601 10.3579 0.481203C10.2316 0.601504 10.2316 0.962406 10.4842 1.08271L10.7368 1.32331C10.9895 1.68421 11.4947 2.16541 11.6211 3.36842V7.69925C11.6211 8.90226 11.2421 8.90226 10.9895 8.90226C9.85263 8.90226 7.32632 5.41353 5.68421 1.08271C5.30526 0.481203 5.17895 0 4.16842 0H2.14737C1.26316 0 1.01053 0 0.757895 0H0.505263C0.252632 0 0.252632 0.120301 0.126316 0.240601C0 0.360902 0 0.481203 0 0.601504V0.962406C0.252632 3.48872 5.68421 15.8797 14.5263 15.8797C15.1579 15.8797 15.6632 15.8797 16.0421 15.7594L16.4211 15.6391C16.5474 15.5188 16.6737 15.3985 16.6737 15.2782V13.2331C16.6737 12.6316 16.6737 11.5489 16.9263 11.3083C16.9263 11.3083 17.1789 11.188 17.5579 11.188C18.3158 11.188 19.3263 11.7895 20.7158 13.1128C21.3474 13.7143 21.8526 14.1955 22.2316 14.6767C22.9895 15.5188 23.4947 16 24.3789 16H27.2842C27.6632 16 27.7895 16 27.9158 16L28.4211 15.8797C28.5474 15.8797 28.6737 15.7594 28.6737 15.6391C28.8 15.5188 28.8 15.3985 28.8 15.2782L28.6737 14.797Z"
          fill="#0265AB" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" viewBox="0 0 25 16" fill="none">
         <g clip-path="url(#clip0_294_1224)">
          <path
           d="M20.1598 0H4.90647C2.67714 0 0.799805 1.72973 0.799805 3.89189V12.2162C0.799805 14.3784 2.67714 16.1081 4.90647 16.1081H20.0425C22.3891 16.1081 24.1491 14.3784 24.1491 12.2162V3.89189C24.2665 1.72973 22.3891 0 20.1598 0ZM15.5838 7.78378L10.7731 10.4865C10.5385 10.5946 10.1865 10.4865 10.1865 10.1622V5.18919C10.1865 4.86486 10.5385 4.75676 10.7731 4.86486L15.7011 7.13513C15.8185 7.24324 15.8185 7.67567 15.5838 7.78378Z"
           fill="#0265AB" />
         </g>
         <defs>
          <clipPath id="clip0_294_1224">
           <rect width="23.4667" height="16" fill="white" transform="translate(0.799805)" />
          </clipPath>
         </defs>
        </svg>
      </div>
     </div>
    </div>
   </div>
   <div class="col-5"></div>
  </div>
 </div>
</section>