<section class="section news">
 <div class="news__container">
  <div class="section__info news__section-info">
   <h4 class="section__info-title">Актуальные новости и акции</h4>
   <a href="" class="section__info-link">Все публикации</a>
  </div>
  <div class="row col-12">
   <div class="col-1">
    {{!-- <div class="swiper-button-prev news-prev">
     <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
      <path d="M35.21 38.2054V26.2054L27.21 32.2054L35.21 38.2054Z" fill="#1A3252" />
      <path
       d="M32.9012 5.82133L10.2774 18.8735L10.2858 44.9923L32.9187 58.0595L55.5425 45.0073L55.5341 18.8885L32.9012 5.82133Z"
       stroke="#1A3252" stroke-width="1.5" />
     </svg>
    </div> --}}
   </div>
   <div class="owl-carousel owl-theme col-10 news__carousel">
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </div>
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-2.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">23.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы до&nbsp;новых знаний им&nbsp;ненужных</h3>
       </div>
      </aside>
     </div>
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </div>
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-2.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">23.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы до&nbsp;новых знаний им&nbsp;ненужных</h3>
       </div>
      </aside>
     </div>
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </div>
     <div class="">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-2.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">23.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы до&nbsp;новых знаний им&nbsp;ненужных</h3>
       </div>
      </aside>
     </div>
   </div>
    <div class="slider-nav col-1">
      <div class="slider-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
          <path d="M32 38.2054V26.2054L40 32.2054L32 38.2054Z" fill="#1A3252" />
          <path class="nav-anim"
            d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
            stroke="#1A3252" stroke-width="1.5"></path>
        </svg>
      </div>
      <div class="slider-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
          <path d="M35.21 38.2054V26.2054L27.21 32.2054L35.21 38.2054Z" fill="#1A3252" />
          <path class="nav-anim"
            d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
            stroke="#1A3252" stroke-width="1.5"></path>
        </svg>
      </div>
    </div>
   {{!-- <div class="col-1"> --}}
   {{!-- <div class="swiper-button-next news-next">
    <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
     <path d="M32 38.2054V26.2054L40 32.2054L32 38.2054Z" fill="#1A3252" />
     <path
      d="M34.3088 5.82133L56.9326 18.8735L56.9242 44.9923L34.2912 58.0595L11.6675 45.0073L11.6758 18.8885L34.3088 5.82133Z"
      stroke="#1A3252" stroke-width="1.5" />
    </svg>
   </div> --}}
   {{!-- </div> --}}
  </div>
 </div>
</section>