<section class="page-news section-page">
 <div class="page-news__container">
  <div class="section-page__box"><h2 class="section-page__title section__title">Новости и&nbsp;Акции</h2></div>
  <div class="page-news__box col-12 row">
   <div class="col-1"></div>
   <ul class="page-news__list col-10">
    <li class="page-news__item">
     <a href="/bolshoy/src/pages/news-detail.html"  class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
    <li class="page-news__item">
     <a href="#" class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
    <li class="page-news__item">
     <a href="#" class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
    <li class="page-news__item">
     <a href="#" class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
    <li class="page-news__item">
     <a href="#" class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
    <li class="page-news__item">
     <a href="#" class="page-news__link">
      <aside class="news__box">
       <div class="news__image">
        <img src="/public/img/news/news-1.jpeg" alt="">
       </div>
       <div class="news__content">
        <div class="news__info">
         <span class="news__data">22.11.2023</span>
         <span class="news__descr">Новость</span>
        </div>
        <h3 class="news__title">Цепляющий заголовок новости, привлекающий жадные умы</h3>
       </div>
      </aside>
     </a>
    </li>
   </ul>
   <div class="col-1"></div>
  </div>
  <button class="page-news__btn btn btn-reset">Показать ещё</button>
 </div>
</section>