<section class="section range section-dark">
 <div class="range__container">
  <div class="section__info range__info section__info--dark">
   <h4 class="section__info-title">Большой ассортимент для большой техники</h4>
  </div>
<div class="range__swiper">
   <div class="range__content swiper-wrapper">
    <div class="swiper-slide range__wrapper range__technique">
     <h3 class="range__title">Техника</h3>
     <ul class="range__list">
      <li class="range__item">
       <a href="#" class="range__link">Складская техника</a>
      </li>
      <li class="range__item">
       <a href="#" class="range__link">Спецтехника</a>
      </li>
      <li class="range__item">
       <a href="#" class="range__link">Просклад</a>
      </li>
     </ul>
     <div class="range__img">
      <img class="range__image" src="/public/img/range/00.png" alt="">
     </div>
    </div>
    <div class="swiper-slide range__wrapper range__service">
     <h3 class="range__title">Сервис</h3>
     <ul class="range__list">
      <li class="range__item">
       <a href="#" class="range__link">Центр моторов</a>
      </li>
      <li class="range__item">
       <a href="#" class="range__link">Сервис</a>
      </li>
     </ul>
     <div class="range__img">
      <img class="range__image" src="/public/img/range/01.png" alt="">
     </div>
    </div>
    <div class="swiper-slide range__wrapper range__spare">
     <h3 class="range__title">Запчасти</h3>
     <ul class="range__list">
      <li class="range__item">
       <a href="#" class="range__link">Cмазочные материалы </a>
      </li>
      <li class="range__item">
       <a href="#" class="range__link">Запчасти</a>
      </li>
     </ul>
     <div class="range__img">
      <img class="range__image" src="/public/img/range/02.png" alt="">
     </div>
    </div>
   </div>
</div>
 </div>
</section>