<section class="vacancy-slider section">
 <div class="vacancy-slider__container">
  <h2 class="vacancy-slider__title">Умеем отдыхать вместе</h2>
  <div class="vacancy-slider__box col-12 row">
   <div class="col-1 news-detail__col">
    <div class="swiper-prev-button swiper-prev">
     <svg width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.21 38.2053V26.2053L27.21 32.2053L35.21 38.2053Z" fill="#1A3252" />
      <path class="nav-anim"
       d="M32.9012 5.82127L10.2774 18.8734L10.2858 44.9923L32.9187 58.0594L55.5425 45.0072L55.5341 18.8884L32.9012 5.82127Z"
       stroke="#1A3252" stroke-width="1.5" />
     </svg>
    </div>
   </div>
   <div class="vacancy-slider__swiper col-10">
    <div class="swiper-wrapper">
     <div class="swiper-slide">
      <div class="vacancy-slider__image">
       <img src="/public/img/vacancy-slider/slide01.jpeg" alt="">
      </div>
     </div>
     <div class="swiper-slide">
      <div class="vacancy-slider__image">
       <img src="/public/img/vacancy-slider/slide01.jpeg" alt="">
      </div>
     </div>
     <div class="swiper-slide">
      <div class="vacancy-slider__image">
       <img src="/public/img/vacancy-slider/slide01.jpeg" alt="">
      </div>
     </div>
    </div>
   </div>
   <div class="col-1 news-detail__col">
    <div class="swiper-next-button swiper-next">
     <svg xmlns="http://www.w3.org/2000/svg" width="68" height="65" viewBox="0 0 68 65" fill="none">
      <path d="M32 38.2053V26.2053L40 32.2053L32 38.2053Z" fill="#1A3252" />
      <path class="nav-anim"
       d="M34.3088 5.82127L56.9326 18.8734L56.9242 44.9923L34.2912 58.0594L11.6675 45.0072L11.6758 18.8884L34.3088 5.82127Z"
       stroke="#1A3252" stroke-width="1.5" />
     </svg>
    </div>
   </div>
  </div>
 </div>
</section>