<section class="vacancy-learning section">
 <div class="vacancy-learning__container">
  <h3 class="vacancy-learning__title">Учимся и&nbsp;обучаем</h3>
  <ul class="vacancy-learning__list">
   <li class="vacancy-learning__item">
    <h4 class="vacancy-learning__caption">Ежегодные курсы и&nbsp;форумы</h4>
    <p class="vacancy-learning__text">Каждый год наши сотрудники принимают участие и&nbsp;посещают крупные известные выставки и&nbsp;форумы, например: международные выставки СеМАТ Russia в&nbsp;г. Москва, &laquo;Сибирская строительная неделя&raquo; в&nbsp;г.Новосибирск и&nbsp;&laquo;День сибирского поля&raquo;.</p>
   </li>
   <li class="vacancy-learning__item">
    <h4 class="vacancy-learning__caption">Регулярная проверка знаний</h4>
    <p class="vacancy-learning__text">Каждый год наши сотрудники принимают участие и&nbsp;посещают крупные известные выставки и&nbsp;форумы, например: международные выставки СеМАТ Russia в&nbsp;г. Москва, &laquo;Сибирская строительная неделя&raquo; в&nbsp;г.Новосибирск и&nbsp;&laquo;День сибирского поля&raquo;.</p>
   </li>
   <li class="vacancy-learning__item">
    <h4 class="vacancy-learning__caption">Коучи и&nbsp;наставники в&nbsp;начале карьеры</h4>
    <p class="vacancy-learning__text">Каждый год наши сотрудники принимают участие и&nbsp;посещают крупные известные выставки и&nbsp;форумы, например: международные выставки СеМАТ Russia в&nbsp;г. Москва, &laquo;Сибирская строительная неделя&raquo; в&nbsp;г.Новосибирск и&nbsp;&laquo;День сибирского поля&raquo;.</p>
   </li>
  </ul>
 </div>
</section>