<section class="vacancy-hero section">
 <div class="vacancy-hero__container">
 <div class="vacancy-hero__box">
   <h2 class="vacancy-hero__title section__title">
    <span class="blue-accent">больше,</span>
    <p>чем обычная работа</p>
   </h2>
   <p class="section__descr vacancy-hero__descr">
    Работа в&nbsp;нашей компании предлагает ряд преимуществ. Вы&nbsp;получите возможность работать в&nbsp;дружной команде профессионалов, где вы&nbsp;сможете реализовать свой потенциал и&nbsp;развить свои навыки. Мы&nbsp;предлагаем стабильную работу, конкурентоспособную заработную плату и&nbsp;социальные гарантии. Если вы&nbsp;ищете новые возможности и&nbsp;хотите работать в&nbsp;динамичной и&nbsp;развивающейся сфере, то&nbsp;наша компания будет отличным выбором для вас.
   </p>
 </div>
 <div class="vacancy-hero__content col-12 row">
  <div class="vacancy-hero__info col-4">
   <span class="vacancy-hero__caption">Постоянно развиваемся</span>
   <div class="vacancy-hero__wrapper">
    <span class="vacancy-hero__text">У нас:</span>
    <ul class="vacancy-hero__list">
     <li class="vacancy-hero__item">
      <span> — Более 100&nbsp;сотрудников</span>, любящих свое дело- Более&nbsp;80% внутренних назначений на&nbsp;руководящую должность
     </li>
     <li class="vacancy-hero__item">
      <span> — Более&nbsp;30% сотрудников</span> пришли к&nbsp;нам по&nbsp;рекомендации
     </li>
     <li class="vacancy-hero__item">
      <span> — 80% стажёров</span> выходят на&nbsp;средний доход во&nbsp;второй месяц
     </li>
    </ul>
    <p class="vacancy-hero__text">Мы&nbsp;создавали группу компаний, закладывая в&nbsp;отношения между сотрудниками семейные ценности, присущие каждому из&nbsp;учредителей.</p>
   </div>
  </div>
  <div class="col-1"></div>
  <div class="vacancy-hero__image col-7">
   <img src="/public/img/vacancy/vacancy01.png" alt="">
  </div>
 </div>
 </div>
</section>