<section class="vacancy-accordion section">
 <div class="vacancy-accordion__container">
  <h3 class="vacancy-accordion__title">Начать большую карьеру</h3>
  <div class="vacancy-accordion__box">
   <div class="vacancy-accordion__point" >
    <div class="vacancy-accordion__info col-12 row">
     <p class="vacancy-accordion__caption col-3">Большой длинны вакансия, которая растянулась</p>
     <div class="col-1"></div>
     <span class="vacancy-accordion__city col-2">Барнаул</span>
     <div class="col-3 vacancy-accordion__col3"></div>
     <div class="vacancy-accordion__information col-3">
      <span class="vacancy-accordion__price">30 000 руб</span>
      <span class="vacancy-accordion__arrow">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11" fill="none">
        <path opacity="0.4" d="M0 0.611083L16 0.611084L8 10.3889L0 0.611083Z" fill="#0265AB" />
       </svg>
      </span>
     </div>
    </div>
    <div class="vacancy-accordion__content">
     <ul class="vacancy-accordion__list">
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Адрес</span>
       <div class="col-1"></div>
       <div class="col-7">
        <p class="vacancy-accordion__adress">г. Апельсинники, ул. Магистральный проезд, 18</p>
       </div>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Обязанности</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Обслуживание и&nbsp;консультирование посетителей АЗС;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием оплаты, соблюдение кассовой дисциплины;
        </li>
        <li class="vacancy-accordion__subitem">
         Поддержание рабочего места и&nbsp;оборудования в&nbsp;чистоте;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием товара для магазина и&nbsp;выкладка в&nbsp;торговом зале;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием топлива с&nbsp;соблюдением техники безопасности
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Требования</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Среднее образование;
        </li>
        <li class="vacancy-accordion__subitem">
         Опыт работы в&nbsp;розничной торговле, приветствуется;
        </li>
        <li class="vacancy-accordion__subitem">
         Навыки работы с&nbsp;персональным компьютером;
        </li>
        <li class="vacancy-accordion__subitem">
         Активная жизненная позиция, целеустремленность,
        </li>
        <li class="vacancy-accordion__subitem">
         Желание обучаться;
        </li>
        <li class="vacancy-accordion__subitem">
         Ответственность, исполнительность.
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Условия</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Корпоративный транспорт;
        </li>
        <li class="vacancy-accordion__subitem">
         График работы 1/3;
        </li>
        <li class="vacancy-accordion__subitem">
         Освоение новой профессии, карьерный рост;
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="vacancy-accordion__point" >
    <div class="vacancy-accordion__info col-12 row">
     <p class="vacancy-accordion__caption col-3">Большой длинны вакансия, которая растянулась</p>
     <div class="col-1"></div>
     <span class="vacancy-accordion__city col-2">Барнаул</span>
     <div class="col-3 vacancy-accordion__col3"></div>
     <div class="vacancy-accordion__information col-3">
      <span class="vacancy-accordion__price">30 000 руб</span>
      <span class="vacancy-accordion__arrow">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11" fill="none">
        <path opacity="0.4" d="M0 0.611083L16 0.611084L8 10.3889L0 0.611083Z" fill="#0265AB" />
       </svg>
      </span>
     </div>
    </div>
    <div class="vacancy-accordion__content">
     <ul class="vacancy-accordion__list">
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Адрес</span>
       <div class="col-1"></div>
       <div class="col-7">
        <p class="vacancy-accordion__adress">г. Апельсинники, ул. Магистральный проезд, 18</p>
       </div>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Обязанности</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Обслуживание и&nbsp;консультирование посетителей АЗС;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием оплаты, соблюдение кассовой дисциплины;
        </li>
        <li class="vacancy-accordion__subitem">
         Поддержание рабочего места и&nbsp;оборудования в&nbsp;чистоте;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием товара для магазина и&nbsp;выкладка в&nbsp;торговом зале;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием топлива с&nbsp;соблюдением техники безопасности
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Требования</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Среднее образование;
        </li>
        <li class="vacancy-accordion__subitem">
         Опыт работы в&nbsp;розничной торговле, приветствуется;
        </li>
        <li class="vacancy-accordion__subitem">
         Навыки работы с&nbsp;персональным компьютером;
        </li>
        <li class="vacancy-accordion__subitem">
         Активная жизненная позиция, целеустремленность,
        </li>
        <li class="vacancy-accordion__subitem">
         Желание обучаться;
        </li>
        <li class="vacancy-accordion__subitem">
         Ответственность, исполнительность.
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Условия</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Корпоративный транспорт;
        </li>
        <li class="vacancy-accordion__subitem">
         График работы 1/3;
        </li>
        <li class="vacancy-accordion__subitem">
         Освоение новой профессии, карьерный рост;
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="vacancy-accordion__point" >
    <div class="vacancy-accordion__info col-12 row">
     <p class="vacancy-accordion__caption col-3">Большой длинны вакансия, которая растянулась</p>
     <div class="col-1"></div>
     <span class="vacancy-accordion__city col-2">Барнаул</span>
     <div class="col-3 vacancy-accordion__col3"></div>
     <div class="vacancy-accordion__information col-3">
      <span class="vacancy-accordion__price">30 000 руб</span>
      <span class="vacancy-accordion__arrow">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11" fill="none">
        <path opacity="0.4" d="M0 0.611083L16 0.611084L8 10.3889L0 0.611083Z" fill="#0265AB" />
       </svg>
      </span>
     </div>
    </div>
    <div class="vacancy-accordion__content">
     <ul class="vacancy-accordion__list">
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Адрес</span>
       <div class="col-1"></div>
       <div class="col-7">
        <p class="vacancy-accordion__adress">г. Апельсинники, ул. Магистральный проезд, 18</p>
       </div>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Обязанности</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Обслуживание и&nbsp;консультирование посетителей АЗС;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием оплаты, соблюдение кассовой дисциплины;
        </li>
        <li class="vacancy-accordion__subitem">
         Поддержание рабочего места и&nbsp;оборудования в&nbsp;чистоте;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием товара для магазина и&nbsp;выкладка в&nbsp;торговом зале;
        </li>
        <li class="vacancy-accordion__subitem">
         Прием топлива с&nbsp;соблюдением техники безопасности
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Требования</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Среднее образование;
        </li>
        <li class="vacancy-accordion__subitem">
         Опыт работы в&nbsp;розничной торговле, приветствуется;
        </li>
        <li class="vacancy-accordion__subitem">
         Навыки работы с&nbsp;персональным компьютером;
        </li>
        <li class="vacancy-accordion__subitem">
         Активная жизненная позиция, целеустремленность,
        </li>
        <li class="vacancy-accordion__subitem">
         Желание обучаться;
        </li>
        <li class="vacancy-accordion__subitem">
         Ответственность, исполнительность.
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
      <li class="vacancy-accordion__item col-12 row">
       <span class="col-1 vacancy-accordion__heading">Условия</span>
       <div class="col-1"></div>
       <ul class="col-7 vacancy-accordion__sublist">
        <li class="vacancy-accordion__subitem">
         Корпоративный транспорт;
        </li>
        <li class="vacancy-accordion__subitem">
         График работы 1/3;
        </li>
        <li class="vacancy-accordion__subitem">
         Освоение новой профессии, карьерный рост;
        </li>
       </ul>
       <div class="col-3"></div>
      </li>
     </ul>
    </div>
   </div>
  </div>

 </div>
</section>